.sprite-image {
    height: 65vh;
}

.quiz-dialogue {
    height: 25vh;
}

.quiz-dialogue p {
    padding: 1%;
    text-align: center;
}

.form-row button {
    height:calc(2.25rem + 2px);
    margin-top:calc(2rem);
}

.mobile-story-image {
    top: 10vh !important;
    height: 65vh !important;
}

@media only screen and (max-width: 820px) {
    .quiz-dialogue .form-row {
        overflow: auto;
        max-height: 15vh;
        padding: 1rem 0;
    }

    .quiz-dialogue .form-row > div {
        padding: 0.5rem 2rem;
    }
}